/*GENERAL*/
*{
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 4rem;
    font-weight: 700;

}
h2{
    font-size: 1.625rem;

}
h3{
    font-size: 1rem;

}
section{
    border-bottom: 8px solid #222;
    background: black;
    padding-top: 50px;
    padding-bottom: 50px;
}
section div.contenido{ /*para centrar verticalmente colocamos display:flex en el padre*/
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.restaurar{
    clear: both;
}
/* GENERAL */
/* FONDO */
html, body, .cover{
    height: 100%;
}
.cover{
    background: url(../img/fondo.jpg);
   
}


/* FONDO */
/* CABECERA */
section.header{
    background: none;
    position: absolute;
    /*border-color: yellow;*/
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%,
     rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    
}
nav{
    margin: 0 3.5rem;
    padding-top: 10px;
    
}
div.logo{
    float: left;
}
div.login{
    float: right;
}
div.login span{
    padding: 7px 17px;
    background: #e50914;
    border-radius: 4px;;
}
div.login:hover{
    cursor: pointer;
}
.presentacion{
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.presentacion .datos input {
    height: 70px;
    width: 500px;
    margin-top: 8px;
    margin-bottom: 3px;
    border-radius: 2px 0px 0px 2px;
    border: solid 1px rgb(99, 132, 240);
    padding-left: 11px;
    color: rgb(20, 20, 20);
}
.presentacion .datos span{
    background: rgb(204, 0, 0);
    padding: 22px;
    height: 22px;
    margin-top: 8px;
    font-weight: 500;
    margin-left: -5px;
    padding-bottom: 23px;
    border: solid rgb(160, 0, 0);
}
.datos{
    display: flex;
}
@media screen and (max-width:767){
    .presentacion div{
        margin-top:500px !important;
    }
}


.presentacion span:hover, .contPreguntas span:hover{
    cursor: pointer;
    background: red;
}
/* CABECERA */
/* TV */
.izquierda{
    float: left;
}
.derecha{
    float: right;
}
.flotanteTexto{
    width: 59%;
}
.flotanteImagen{
    width: 39%;
}
.tv img{
    width: 100%;
    height: auto;
    border: 0;
    position: relative;
    z-index: 2;
}
.contenido img {
    width: 100%;
    height: auto;
    border: 0;
    position: relative;
    z-index: 2;
}
.contenido h2{
    font-weight: bold;
    font-size: 50px;
}
.contenido p{
    font-size: 25px;
    font-weight: 200;
}
.tv video{
    position: absolute; /*manda el elemento al costado del elemento anterior*/
    transform: translate(-373px,68px);
    width: 313px;
    z-index: 1;
}
.disfruta video{
    position: absolute;
    transform: translate(-347px, 36px);
    width: 262px;
    z-index: 1;
}
.tarjetaInt, .portada{
    display: flex;
    align-items: center;
}
.tarjetaInt{
    width: 70%;
    margin: auto;
    border: solid 2px #434343;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    z-index: 2;
    background: #000000;
}
.tarjeta{
    position: relative;
    transform: translate(-65px,-41px);
}
/* TV */
/*PREGUNTAS*/
.preguntas h2{
    font-weight: bold;
    font-size: 35px;
}
.contPreguntas{
    width: 650px;
    margin: auto;
    text-align: center;
}
.contPreguntas div{
    text-align: left;
    font-size: 20px;
}
.pregunta{
    background: #303030;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.respuesta{
    background: #303030;
    margin-bottom: 5px;
    margin-top: 5px;
}
.pregunta p, .respuesta p{
    padding: 10px;
    padding-left: 20px;
}
.respuesta hr{
    border: 1px solid #262626;
}
.pregunta:hover .respuesta{
    max-height: 1000px;
    
}
.pregunta:hover{
    cursor: pointer;
    
}
.respuesta{
    max-height: 0px;
    overflow: hidden;
    transition: all 1s;
}

.contPreguntas input {
    height: 60px;
    width: 465px;
    margin-top: 20px;
    margin-bottom: 3px;
    border-radius: 2px 0px 0px 2px;
    border: solid 1px rgb(99, 132, 240);
    padding-left: 11px;
    color: rgb(20, 20, 20);
}
.contPreguntas span{
    background: rgb(204, 0, 0);
    padding: 16px;
    padding-bottom: 19px;
    font-weight: 500;
    margin-left: -5px;
    border: solid rgb(160, 0, 0);
}
.contPreguntas h3{
    font-size: 15px;
}

.pieContenido{ /*para centrar verticalmente colocamos display:flex en el padre*/
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer p{
    padding: 7px;
}
.footer p:hover{
    padding: 7px;
    cursor: pointer;
    text-decoration-line: underline;
}
.footer .espacio{
    width: 100px;
}

/*PREGUNTAS*/
